<div class="forgot-password-container">
  <div class="col-4 mx-auto">
    <div class="card">
      <h4 class="card-header">Forgot Password</h4>
      <div *ngIf="sent" class="card-body">
        Thank you. You should receive an email shortly. If you do not receive an email, check your spam folder, or contact your system administrator.
        <div class="mt-3 text-center">
          <a [routerLink]="['/login']">Login</a>
        </div>
      </div>
      <div *ngIf="!sent" class="card-body">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            If your email address is found, you will receive a link where you will be able to reset your password.
          </div>
          <div class="form-group">
            <label for="emailAddress">Email Address</label>
            <input type="text" formControlName="emailAddress" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.emailAddress.errors }" />
            <div *ngIf="submitted && f.emailAddress.errors" class="invalid-feedback">
              <div *ngIf="f.emailAddress.errors.required">Email address is required</div>
            </div>
          </div>
          <div class="button-area d-flex justify-content-center">
            <button [disabled]="loading" class="btn btn-primary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
