<ng-template #dialogModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="contentTemplate else noTemplate">
      <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </div>
  </div>

  <div class="modal-footer">
    <div class="spacer"></div>
    <button [disabled]="getDisabled(button)" *ngFor="let button of buttons; let i = index" class="btn" [ngClass]="btnClasses[button]" (click)="select(button)">{{button}}</button>
  </div>
</ng-template>

<ng-template #noTemplate>
  <div class="content">
    {{message}}
  </div>
</ng-template>
