<div class="d-flex mb-3 space-x-3 align-items-center">
  <h3>Members</h3>
  <div class="spacer"></div>
  <div>
    <search-text class="search" (change)="setFilterQuery($event)"></search-text>
  </div>
  <div>
    <button class="btn btn-primary" (click)="add()">Add</button>
  </div>
</div>

<div class="mb-3">

</div>

<data-grid [source]="source" [rows]="members" [total]="total" [rowSelectable]="true" (onRowSelect)="select($event)" (onPageChange)="page($event)"></data-grid>


<ng-template #memberDialog>
  <member [mode]="mode" #memberView [member]="selectedMember"></member>
</ng-template>


<ng-template #deleteDialog>
  <div class="mb-3">
    This will delete all member data including history. This cannot be undone.
    To proceed with deleting, type <b>confirm</b>.
  </div>
  <input type="text" class="form-control" placeholder="confirm" [(ngModel)]="confirmDelete" />
</ng-template>


<ng-template #addTimeDialog>
  <div class="mb-3">
    Enter the number of hours and minutes to add to the member's time:
  </div>
  <div>
    <label>Hours</label>
    <input type="number" min="0" class="form-control" [(ngModel)]="addTimeHours" />
    <label>Minutes</label>
    <input type="number" min="0" class="form-control" [(ngModel)]="addTimeMinutes" />
  </div>
</ng-template>

<ng-template #paymentDialog>
  <payment #payment [rate]="rate" [totalMinutes]="excessMinutes"></payment>
</ng-template>

<ng-template #paymentArrearsDialog>
  <arrears #arrears [rate]="rate" [totalMinutes]="excessMinutes"></arrears>
</ng-template>
