<h3>Unit Areas</h3>

<data-grid class="w-50" [source]="source" [rows]="rows"></data-grid>

<button [disabled]="isEditing" class="btn" (click)="add()">Add Item</button>

<ng-template #editable let-row="row">
    <div *ngIf="!editing[row.id]"  class="relative">
        <div class="editable-placeholder cursor-pointer" (click)="edit(row)">{{row.name ?? '&nbsp;'}}</div>
        <div class="icons" (click)="delete(row)">
            <fa-icon [icon]="faTrash"></fa-icon>
        </div>
    </div>
    <input *ngIf="editing[row.id]" [autoFocus] type="text" class="form-control" [(ngModel)]="row.name"
        (blur)="cancel(row)" (keydown.enter)="save(row)" (keydown.esc)="cancel(row)">
</ng-template>
